
<div class ="signupbox">

<%= form_for(@user) do |u| %>

  <fieldset>
    <div class="forms">
    <div class="intro">

      <div class="intro" style="font-size :50px">
        Register
      </div>

       <label for="user_username">Username</label>
      <%=  u.text_field :username, :placeholder => "Username", :style => "width:30%;display: block;margin: auto;", :validate => { :presence => true } %>
      <label for="user_password">Password</label>

      <%=  u.password_field :password, :placeholder => "Password", :style => "width:30%;display: block;margin: auto;" %>
    </div>
      <%= u.submit "Create", :style => "width:30%;display: block;margin: auto;"%>

      <%end%>
    </div>
